.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1em;
}

.AppControls {
    padding: 0.5em;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.AppMachine {
    padding: 0.5em;
}
